.header-fixed {
  position: fixed;
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
