.swiper-pagination {
  position: absolute !important;
  right: 18% !important;
  width: fit-content !important;
}
.swiper-pagination-bullet{
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    
}