.footer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  row-gap: 1.5rem;
  column-gap: 5%;
}

.logo {
  grid-row: 1;
  grid-column: 1;
}

.description {
  grid-row: 2;
  grid-column: 1;
}

.address {
  grid-row: 3;
  grid-column: 1;
}

.nav {
  grid-row: 2;
  grid-column: 2;
}

.eNamad {
  grid-row: 2;
  grid-column: 3;
}

@media (max-width: 1024px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 0;
    column-gap: 0;
    align-items: center;
    justify-items: center;
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
  }

  .description {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 1.5rem;
    max-width: 40rem;
  }

  .eNamad {
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 3rem;
  }

  .nav {
    grid-row: 4;
    grid-column: 1;
    margin-bottom: 1.5rem;
  }

  .address {
    grid-row: 5;
    grid-column: 1;
    max-width: 40rem;
    width: 100%;
  }
}
