.swiper-single-product2 {
  height: 80%;
  width: 100%;
}

.swiper-single-product {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-single-product .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-single-product .swiper-slide-thumb-active {
  opacity: 1;
}
