.container {
  background: url(../../../assets/images/call-to-action-background.png) center/cover no-repeat #1a4499;
}

.form,
.form input {
  transition: all 0.3s;
}

.form:focus-within,
.form input:focus {
  background-color: #e8ecf5;
}
