@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekanBakh, Arial, Helvetica, sans-serif;
}
:root {
  /* background color */
  --background-color: #f7f8fc;
  /* Primary colors */
  --primary1: #e8ecf5;
  --primary2: #c8d2e7;
  --primary5: #4366ab;
  --primary6: #1a4499;

  /* Neutral Colors */
  --NeutralN10: #fafafa;
  --NeutralN20: #f5f5f5;
  --NeutralN30: #ebebeb;
  --NeutralN40: #dedede;
  --NeutralN50: #bfbfbf;
  --NeutralN70: #a3a3a3;
  --NeutralN80: #949494;
  --NeutralN90: #858585;
  --NeutralN100: #757575;
  --NeutralN300: #575757;
  --NeutralN500: #3b3b3b;
  --NeutralN600: #2e2e2e;
  --NeutralN700: #1c1c1c;

  /* Magenta */
  --magenta: #e0144c;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  direction: rtl;
  background-color: var(--background-color);
}
.poppins {
  font-family: "Poppins";
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-5px {
  border-radius: 5px;
}
nav ul li:first-child {
  padding-right: 0;
}
nav ul li:last-child {
  border-left: none;
}
.mirror {
  transform: scaleX(-1);
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
