@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekanBakh, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
:root {
  /* background color */
  --background-color: #f7f8fc;
  /* Primary colors */
  --primary1: #e8ecf5;
  --primary2: #c8d2e7;
  --primary5: #4366ab;
  --primary6: #1a4499;
  --primary8: #12306d;

  /* Neutral Colors */
  --NeutralN10: #fafafa;
  --NeutralN20: #f5f5f5;
  --NeutralN30: #ebebeb;
  --NeutralN40: #dedede;
  --NeutralN50: #bfbfbf;
  --NeutralN60: #b0b0b0;
  --NeutralN70: #a3a3a3;
  --NeutralN80: #949494;
  --NeutralN90: #858585;
  --NeutralN100: #757575;
  --NeutralN200: #666;
  --NeutralN300: #575757;
  --NeutralN400: #4a4a4a;
  --NeutralN500: #3b3b3b;
  --NeutralN600: #2e2e2e;
  --NeutralN700: #1c1c1c;

  /* Magenta */
  --magenta: #e0144c;
  --red1: #fbebeb;

  /* Green */
  --green6: #3ba53d;
  --green7: #328c34;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  direction: rtl;
  background-color: var(--background-color);
}
.poppins {
  font-family: "Poppins";
}
.flex-center {
  @apply flex justify-center items-center;
}
.container {
  @apply px-4 w-full max-w-[82.5rem] mx-auto flex-center flex-col;
}
.large-container {
  @apply w-full max-w-[102rem] mx-auto rounded-2xl bg-white;
}
.flex-col {
  @apply flex;
}
.rounded-5px {
  border-radius: 5px;
}
nav ul li:first-child {
  padding-right: 0;
}
nav ul li:last-child {
  border-left: none;
}
.swiper-slide {
  border-radius: 1rem;
}
/* rotating icon of Accordion */
button[aria-expanded="true"] .arrow-icon {
  transform: rotate(180deg);
}
/* heart beating animation */
@keyframes pulse-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-heart {
  animation: pulse-heart 0.3s ease-in-out 2;
}
/* For flipping items */
.mirror {
  transform: scaleX(-1);
}
/* position rating stars vertically */
.star-svg {
  display: inline-block;
}
/* Single product page red before */
.discount-red-flag::before {
  content: "";
  width: 97%;
  height: 5px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--magenta);
  position: absolute;
  top: 0;
  right: 1.5%;
}
/* For discount text */
.lineThrough::before {
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: 120%;
  top: 50%;
  right: 0;
  transform: translateY(-200%);
  background-color: #858585;
}
.discount-percentage-icon {
  background: url(./assets/images/icons/product-card-discount-background.svg) center/cover no-repeat;
}

/* about page's circle */
.about-page-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: linear-gradient(138.95deg, #1a4499 7.49%, #5678bc 98.55%);
  box-shadow: 0px 0px 0.625rem rgba(26, 68, 153, 0.46);
  position: absolute;
}
