.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 44%;
  background-color: #ebebeb;
}
.navlink div {
  transform: scaleY(0) translateX(50%);
  transform-origin: top;
  transition: transform 250ms linear, opacity 0.1s;
}
.navlink:hover div {
  opacity: 1;
  transform: scaleY(1) translateX(50%);
}
